---
layout: default
home: true
---

<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%}

<hr>

<!-- Social Icons Below Post List with extra spacing -->
<div style="margin-top: 5rem; text-align: center; font-size: 1.5rem;">
  <a href="https://github.com/GiorgosKastoras" target="_blank">
    <i class="fab fa-github"></i>
  </a>&nbsp;&nbsp;
  <a href="https://linkedin.com/in/your-linkedin-handle" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>&nbsp;&nbsp;
  <a href="mailto:giorgos.kastoras@gmail.com">
    <i class="fas fa-envelope"></i>
  </a>
</div>
